In [255]:
import numpy as np
import pandas as pd

cost_data = pd.read_csv("data/funds.csv", parse_dates=['date'])
ref_data = pd.read_csv("data/refugee_monthly.csv")

col = 'Value'
ref_data[col] = pd.to_numeric(ref_data[col], errors='coerce')
ref_data[col] = ref_data[col].fillna(2)

month_mapping = {'January':1, 'February':2, 'April':3, 'May':4, 'July':5, 'August':6,'September':7, 'October':8, 'November':9, 'June':10, 'March':11, 'December': 12}
ref_data.Month = ref_data.Month.map(month_mapping)

ref_data_agg = ref_data.groupby(['Year', 'Month', 'Country / territory of asylum/residence'], as_index=False)["Value"].sum()
ref_data_agg

/home/shivam/anaconda3/envs/fastai-cpu/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      Year  Month            Country / territory of asylum/residence    Value
0     1999      1                                          Australia    574.0
1     1999      1                                            Austria   1366.0
2     1999      1                                            Belgium   1956.0
3     1999      1                                           Bulgaria     81.0
4     1999      1                                             Canada   2209.0
5     1999      1                                         Czech Rep.    602.0
6     1999      1                                            Denmark    675.0
7     1999      1                                            Finland    101.0
8     1999      1                                             France   1760.0
9     1999      1                                            Germany   8216.0
10    1999      1                                             Greece    167.0
11    1999      1                                            Hungary    907.0
12    1999      1                                            Ireland    234.0
13    1999      1                                      Liechtenstein     73.0
14    1999      1                                         Luxembourg    241.0
15    1999      1                                        Netherlands   3556.0
16    1999      1                                             Norway    548.0
17    1999      1                                             Poland    226.0
18    1999      1                                           Portugal     34.0
19    1999      1                                            Romania     21.0
20    1999      1                                           Slovakia     54.0
21    1999      1                                           Slovenia     40.0
22    1999      1                                              Spain    664.0
23    1999      1                                             Sweden    942.0
24    1999      1                                        Switzerland   3953.0
25    1999      1                                             Turkey    514.0
26    1999      1                                         USA (EOIR)    863.0
27    1999      1  United Kingdom of Great Britain and Northern I...   4710.0
28    1999      2                                          Australia    681.0
29    1999      2                                            Austria   1150.0
...    ...    ...                                                ...      ...
8804  2017     11                                         Czech Rep.     92.0
8805  2017     11                                            Denmark    272.0
8806  2017     11                                            Estonia     10.0
8807  2017     11                                             France   8013.0
8808  2017     11                                            Germany  18078.0
8809  2017     11                                            Iceland     92.0
8810  2017     11                                            Ireland    209.0
8811  2017     11                                              Italy  13517.0
8812  2017     11                                              Japan   1462.0
8813  2017     11                                             Latvia     61.0
8814  2017     11                                          Lithuania     35.0
8815  2017     11                                         Luxembourg    223.0
8816  2017     11                                              Malta    161.0
8817  2017     11                                         Montenegro     38.0
8818  2017     11                                        Netherlands   1217.0
8819  2017     11                                        New Zealand     49.0
8820  2017     11                                             Norway    396.0
8821  2017     11                                             Poland    324.0
8822  2017     11                                      Rep. of Korea    786.0
8823  2017     11                                            Romania    402.0
8824  2017     11               Serbia and Kosovo: S/RES/1244 (1999)     25.0
8825  2017     11                                           Slovakia     18.0
8826  2017     11                                           Slovenia    130.0
8827  2017     11                                              Spain   2525.0
8828  2017     11                                             Sweden   1536.0
8829  2017     11                                        Switzerland   1501.0
8830  2017     11              The former Yugoslav Rep. of Macedonia     24.0
8831  2017     11                                             Turkey   9504.0
8832  2017     11                                      USA (INS/DHS)  16403.0
8833  2017     11  United Kingdom of Great Britain and Northern I...   3160.0

[8834 rows x 4 columns]

In [256]:
year_agg = cost_data.groupby([cost_data.date.dt.year, 'recipient', 'category']).sum().reset_index()
summer = year_agg.groupby(['date', 'recipient'])['transaction_value'].transform('sum')
year_agg['distribution'] = year_agg['transaction_value']/summer
year_agg

,date,recipient,category,transaction_value,distribution
0,1999,Mali,Education,4.514489e+07,0.778511
1,1999,Mali,Infrastructure,1.284388e+07,0.221489
2,1999,Nigeria,Education,5.708721e+07,1.000000
3,1999,Uganda,Education,3.100000e+07,1.000000
4,2000,Algeria,Education,2.391983e+08,0.997630
5,2000,Algeria,Emergency aid,5.681313e+05,0.002370
6,2000,Bangladesh,Education,2.934926e+08,0.967080
7,2000,Bangladesh,Infrastructure,9.961978e+06,0.032825
8,2000,Bangladesh,Other,2.876307e+04,0.000095
9,2000,Benin,Infrastructure,2.453299e+07,1.000000
10,2000,Burkina Faso,Infrastructure,2.453299e+07,1.000000
11,2000,"Congo, The Democratic Republic Of The",Education,8.895092e+05,0.425541
12,2000,"Congo, The Democratic Republic Of The",Emergency aid,1.200795e+06,0.574459
13,2000,CãTe D'Ivoire,Infrastructure,2.453299e+07,1.000000
14,2000,Guinea-Bissau,Infrastructure,2.453299e+07,1.000000
15,2000,Iraq,Emergency aid,4.502580e+06,1.000000
16,2000,Lebanon,Education,3.273148e+08,1.000000
17,2000,Libyan Arab Jamahiriya,Agriculture,4.062119e+06,1.000000
18,2000,Mali,Education,4.760506e+08,0.947050
19,2000,Mali,Environment,2.000000e+06,0.003979
20,2000,Mali,Infrastructure,2.453299e+07,0.048806
21,2000,Mali,Other,8.295511e+04,0.000165
22,2000,Niger,Infrastructure,2.453299e+07,1.000000
23,2000,Nigeria,Education,7.857948e+08,0.999789
24,2000,Nigeria,Other,1.660070e+05,0.000211
25,2000,Senegal,Infrastructure,2.453299e+07,1.000000
26,2000,Somalia,Emergency aid,3.056568e+05,1.000000
27,2000,Sudan,Education,7.586839e+04,0.004315
28,2000,Sudan,Emergency aid,2.085270e+06,0.118596
29,2000,Sudan,Environment,1.542187e+07,0.877089
...,...,...,...,...,...
5740,2018,Uganda,Emergency aid,2.390302e+08,0.042175
5741,2018,Uganda,Environment,5.119996e+08,0.090339
5742,2018,Uganda,General aid,2.429919e+08,0.042874
5743,2018,Uganda,Infrastructure,1.229949e+08,0.021702
5744,2018,Uganda,Other,2.774345e+07,0.004895
5745,2018,Ukraine,Education,2.630823e+07,0.935110
5746,2018,Ukraine,Emergency aid,1.825594e+06,0.064890
5747,2018,United Kingdom,Agriculture,4.937275e+06,0.081718
5748,2018,United Kingdom,Education,5.454691e+07,0.902821
5749,2018,United Kingdom,Environment,2.129410e+03,0.000035
5750,2018,United Kingdom,Other,9.320055e+05,0.015426
5751,2018,United States,Agriculture,4.745882e+06,0.524817
5752,2018,United States,Education,4.297040e+06,0.475183
5753,2018,Uzbekistan,Education,1.156827e+06,1.000000
5754,2018,"Venezuela, Bolivarian Republic Of",Education,4.551651e+06,1.000000
5755,2018,Viet Nam,Agriculture,8.618870e+05,0.012693
5756,2018,Viet Nam,Education,3.273200e+07,0.482061
5757,2018,Viet Nam,Environment,2.179754e+07,0.321023
5758,2018,Viet Nam,Infrastructure,1.250876e+07,0.184223
5759,2018,Western Sahara,Education,5.251760e+05,1.000000
5760,2018,Yemen,Education,1.156827e+06,0.036066
5761,2018,Yemen,Emergency aid,3.091837e+07,0.963934
5762,2018,Zambia,Agriculture,4.416582e+07,0.183114
5763,2018,Zambia,Education,1.764905e+08,0.731740
5764,2018,Zambia,Environment,1.653222e+07,0.068544
5765,2018,Zambia,General aid,-4.046621e+03,-0.000017
5766,2018,Zambia,Infrastructure,4.008321e+06,0.016619
5767,2018,Zimbabwe,Agriculture,1.710247e+07,0.093664
5768,2018,Zimbabwe,Education,1.599326e+08,0.875890
5769,2018,Zimbabwe,Environment,5.559293e+06,0.030446

In [258]:
# year_agg = year_agg.rename(columns={'recipient': 'country', 'date': 'year'})
# result_data = result_data.rename(columns={'Country': 'country', 'Year': 'year'})

resultslocs = result_data['country'].copy(deep=True)
resultslocs[resultslocs == 'USA (INS/DHS)'] = 'United States' 
resultslocs[resultslocs == 'USA (EOIR)'] = 'United States' 
resultslocs[resultslocs == 'Rep. of Korea'] = 'Korea, Republic Of' 
resultslocs[resultslocs == 'United Kingdom of Great Britain and Northern Ireland'] = 'United Kingdom' 

uc = list(year_agg.country.unique())
ur = list(result_data.country.unique())

# inter = set(uc) & set(ur)
# diff = set(ur) - inter
# print(diff)
# print()
# print(uc)
result_data
# result_data['year'] =  pd.to_numeric(result_data['year'], ')

,year,Month,country,refugees
0,1999,1,Australia,574
1,1999,1,Austria,1366
2,1999,1,Belgium,1956
3,1999,1,Bulgaria,81
4,1999,1,Canada,2209
5,1999,1,Czech Rep.,602
6,1999,1,Denmark,675
7,1999,1,Finland,101
8,1999,1,France,1760
9,1999,1,Germany,8216
10,1999,1,Greece,167
11,1999,1,Hungary,907
12,1999,1,Ireland,234
13,1999,1,Liechtenstein,73
14,1999,1,Luxembourg,241
15,1999,1,Netherlands,3556
16,1999,1,Norway,548
17,1999,1,Poland,226
18,1999,1,Portugal,34
19,1999,1,Romania,21
20,1999,1,Slovakia,54
21,1999,1,Slovenia,40
22,1999,1,Spain,664
23,1999,1,Sweden,942
24,1999,1,Switzerland,3953
25,1999,1,Turkey,514
26,United States,United States,United States,United States
27,United Kingdom,United Kingdom,United Kingdom,United Kingdom
28,1999,2,Australia,681
29,1999,2,Austria,1150
...,...,...,...,...
8804,2017,11,Czech Rep.,92
8805,2017,11,Denmark,272
8806,2017,11,Estonia,10
8807,2017,11,France,8013
8808,2017,11,Germany,18078
8809,2017,11,Iceland,92
8810,2017,11,Ireland,209
8811,2017,11,Italy,13517
8812,2017,11,Japan,1462
8813,2017,11,Latvia,61
8814,2017,11,Lithuania,35
8815,2017,11,Luxembourg,223
8816,2017,11,Malta,161
8817,2017,11,Montenegro,38
8818,2017,11,Netherlands,1217
8819,2017,11,New Zealand,49
8820,2017,11,Norway,396
8821,2017,11,Poland,324
8822,"Korea, Republic Of","Korea, Republic Of","Korea, Republic Of","Korea, Republic Of"
8823,2017,11,Romania,402
8824,2017,11,Serbia and Kosovo: S/RES/1244 (1999),25
8825,2017,11,Slovakia,18
8826,2017,11,Slovenia,130
8827,2017,11,Spain,2525
8828,2017,11,Sweden,1536
8829,2017,11,Switzerland,1501
8830,2017,11,The former Yugoslav Rep. of Macedonia,24
8831,2017,11,Turkey,9504
8832,United States,United States,United States,United States
8833,United Kingdom,United Kingdom,United Kingdom,United Kingdom

In [239]:
final_costs = pd.merge(result_data,year_agg, on=['year', 'country'])
final_costs = pd.pivot_table(final_costs, index=['year', 'Month', 'country', 'refugees'], columns='category', values='transaction_value', aggfunc='sum', fill_value=0).reset_index()
final_costs.to_csv("cost_distribution_v2.csv", index=False)
final_costs

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat